html{
    background: url("image/b222.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    margin: 0 auto;
    padding: 0 10px;
}
.header1{
    height: 2.7cm;
    background-color: rgb(255, 255, 255);
    border: 4px double rgb(255, 0, 0);
}

.header2{
    padding-bottom: 1.5cm;
}
.headRight{
    float: right;
    padding-left: 15px;
}
.headLeft{
    padding-left: 15px;
    padding-right: 5px;
    float: left;
}
.img1{
    height: 2.6cm;
}

.btn-group .button {
    background-color: rgb(32, 39, 33); 
    border: 1px solid rgb(16, 58, 16);
    color: white;
    padding: 12px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;

  }
  
  .btn-group .button:not(:last-child) {
    border-right: none; 
  }
  
  .btn-group .button:hover {
    background: linear-gradient(rgb(255, 153, 0),rgb(145, 0, 0));
    
  }


div{
    margin-top: 0.3em;
}


.btn-group2{
    height: 2.5cm;
    margin: 0 auto;
    padding-bottom: 1cm;
}
.button2{
    font: 1em sans-serif;
    margin: 0 auto;
    padding: 10px 31px;
    background: linear-gradient(rgb(225, 246, 255),rgb(133, 255, 133));
}
.button2:hover{
    background: linear-gradient(rgb(48, 9, 1),rgb(0, 59, 0));
    color: #ffffff;
    font-weight: bold;
 
}

.result{
    padding: 25px;
    background: linear-gradient(rgb(0, 0, 0),rgb(39, 39, 39));

}

h2{
    color: rgb(255, 255, 255);
    text-align: center;
}
h3{
    text-align: center;
    color: #ffffff;
}
.topline{
    color: #000000;
}


