
html{
    background: url("image/hfp.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    margin: 0 auto;
    padding: 0px 10px;
}
.header1{
    height: 2.7cm;
    background-color: rgb(255, 255, 255);
    border: 4px double rgb(255, 0, 0);
}

.header2{
    padding-bottom: 1.5cm;
}
.headRight{
    float: right;
    padding-left: 15px;
}
.headLeft{
    padding-left: 15px;
    padding-right: 5px;
    float: left;
}
.img1{
    height: 2.6cm;
}

.btn-group .button {
    background-color: rgb(32, 39, 33); 
    border: 1px solid rgb(16, 58, 16);
    color: white;
    padding: 12px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;

  }
  
  .btn-group .button:not(:last-child) {
    border-right: none; 
  }
  
  .btn-group .button:hover {
    background: linear-gradient(rgb(255, 153, 0),rgb(145, 0, 0));
  }

.header2{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}
div{
    margin-top: 0.3em;
}

form{ 
    margin: 0 auto;
    width: 60%;
    margin:50px auto;
    background-image: linear-gradient(to bottom right, rgba(180, 180, 180, 0.774) , rgb(173, 255, 184));
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    padding: 50px;
    padding-bottom: 2cm;
    padding-left: 2.5cm;   
}

label{
    display: inline-block;
    width: 150px;
    text-align: left;
    font-size: 20px;
}
label{
    color: rgb(0, 14, 3);
    font-weight: bold;
}
select, input{
    width: 400px;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    background: #2fff0509;
    border: 1px solid #999;
    font-size: 18px;
    border-bottom: 1px solid rgb(0, 12, 1);

}

input:focus{
    border-color: rgb(5, 17, 0);
}





.button2{
    font-size: 18px;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: pink;
}