
html{
    background: url("image/blu222.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    margin: 0 auto;
    padding: 0 10px;
    background-color: rgba(68, 68, 68, 0.226);

}
.header1{
    height: 2.7cm;
    background-color: rgb(255, 255, 255);
    border: 4px double rgb(255, 0, 0);
}

.header2{
    padding-bottom: 1.5cm;
}


.headRight{
    float: right;
    padding-left: 15px;
}
.headLeft{
    padding-left: 15px;
    padding-right: 5px;
    float: left;
}
.img1{
    height: 2.6cm;
}

.all{
    margin: 0 auto;
    padding: 1px;
    border: 1px  solid red;
}
.btn-group .button {
    background-color: rgb(32, 39, 33); 
    border: 1px solid rgb(16, 58, 16);
    color: white;
    padding: 12px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;

  }
  
  .btn-group .button:not(:last-child) {
    border-right: none; 
  }
  
  .btn-group .button:hover {
    background: linear-gradient(rgb(255, 153, 0),rgb(145, 0, 0));
  }

.header2{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}


.formSign{
 
    margin: 0 auto;
    width: 70%;
    margin:50px auto;
    background-color: #0b1fff9a;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    padding: 50px;
}
label{
    font-weight: bold;
}
form{
    
    margin: 0 auto;
    padding: 0.1cm;
    padding-left: 0.5cm;
    width: 90%;    
}



h2{
    display: inline;
    color: rgb(208, 255, 0)
}

.img2{
    height: 4cm;
    display: inline;
}

label{
    display: inline-block;
    width: 216px;
    text-align: left;
    font-size: 20px;
}
label{
    color: rgb(0, 0, 0);
}
select, input{
    width: 400px;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    background: #daffd3;
    border-radius: 15px;
    border: 1px solid rgb(255, 0, 0);
    font-size: 18px;

}

input:focus{
    border-radius: 15px;
    
    border-color: rgb(30, 255, 0);
}


div{
    margin-top: 0.3em;
}
.button2{
    padding: 15px;
    border-radius: 20px;
    background-color: #ffb7b7;
    border: 2px solid rgb(136, 0, 0);
    font-size: 14px;
    font-weight: bold;
    
}
.button2:hover{
    background-color: rgb(0, 255, 13);
    
}


