html{
    background: url("image/b222.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    margin: 0 auto;
    padding: 0 10px;
}
.header1{
    height: 2.7cm;
    background-color: rgb(255, 255, 255);
    border: 4px double rgb(255, 0, 0);
}

.header2{
    padding-bottom: 1.5cm;
}
.headRight{
    float: right;
    padding-left: 15px;
}
.headLeft{
    padding-left: 15px;
    padding-right: 5px;
    float: left;
}
.img1{
    height: 2.6cm;
}


div{
    margin-top: 0.3em;
}




form{
    
    margin: 0 auto;
    width: 60%;
    margin:50px auto;
    background-color: #ffffff85;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    padding: 50px;
    padding-bottom: 2cm;
    
}
input,select{
    width: 300px;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(85, 85, 85);

    font-size: 18px;
    background-color: #ffffff85;

}
label{
    display: inline-block;
    width: 180px;
    text-align: left;
    font-size: 20px;
}
.button1,.button2{
    border-radius: 10px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #ffe3e3;
    border: 2px solid rgb(0, 0, 0);
    font-size: 14px;
    
}
.button2:hover{
    background-color: rgb(0, 255, 13);
    
}
.button1:hover{
    background-color: rgb(255, 17, 0);
}






